---

---

<nav class="sticky py-3 px-4 top-0 flex justify-between items-center bg-white">
  <a class="page-scroll text-primary text-lg font-bold" href="#page-top"
    >ときさば系シェアハウス</a
  >
  <button
    class="py-1 px-2 material-symbols-outlined hover:bg-gray-200 hover:text-gray-800 sm:hidden"
    >menu</button
  >
  <ul class="text-black">
    <li>
      <a class="page-scroll" href="#about">ときさば系のシェアハウスとは</a>
    </li>
    <li>
      <a class="page-scroll" href="#services">ときさば系シェアハウスの特徴</a>
    </li>
    <li>
      <a class="page-scroll" href="#residence">物件一覧</a>
    </li>
  </ul>
</nav>
