---
import { getCollection } from 'astro:content'
import Container from './Container.astro'
import HouseCard from './HouseCard.astro'

const houses = await getCollection('house')
---

<Container>
  <div
    class="relative flex flex-col items-center md:flex-row scroll-mt-[94px]"
    id="houses"
  >
    <div class="row items-center py-5 md:pr-20 md:py-10 shrink-0">
      <div class="text-center md:text-left space-y-3 bg-lime">
        <h2 class="text-4xl font-medium leading-none sm:text-6xl">æ‹ ç‚¹</h2>
      </div>
    </div>
    <div class="flex items-center py-5 md:py-10">
      <p class="text-xl font-normal leading-7 text-center md:text-left">
        ç”Ÿæ´»æ‹ ç‚¹ã‚’ã©ã“ã«ã™ã‚‹ã‹ï¼Ÿ<br
        />åˆºæ¿€ã«æº€ã¡ãŸé¦–éƒ½ã®æ‘©å¤©æ¥¼ã‹ã€ç¾ã—ã„è‡ªç„¶ã«å›²ã¾ã‚ŒãŸç©ã‚„ã‹ãªç’°å¢ƒã‹ã€‚<br
        />ã‚ãªãŸã®ãƒ©ã‚¤ãƒ•ãƒ»ã‚¹ãƒˆãƒ©ãƒ†ã‚¸ãƒ¼ã‚’ã“ã“ã‹ã‚‰å±•é–‹ã—ã¾ã—ã‚‡ã†ã€‚
      </p>
    </div>
  </div>

  <div class="flex-row items-center py-5">
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 gap-4">
      {
        houses
          .sort((a, b) => a.data.order - b.data.order)
          .map((house) => <HouseCard content={house} />)
      }
    </div>
  </div>

  <div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="justify-start items-center gap-[275px] flex">
        <div
          class="flex-col justify-start items-start gap-[26px] inline-flex text-black"
        >
          <div class="text-3xl font-medium">ãŠå•ã„åˆã‚ã›</div>
          <div class="text-lg font-normal">
            ãŠå•ã„åˆã‚ã›ã¯ğ•(Twitter)ã‹Facebookã‹ã‚‰å—ã‘ä»˜ã‘ã¦ãŠã‚Šã¾ã™ã€‚<br />
            ãŠæ°—è»½ã«ã”é€£çµ¡ãã ã•ã„ã€‚
          </div>
          <div class="flex flex-col md:flex-row gap-4 w-full">
            <a
              href="https://x.com/enginemaker_jp"
              class="px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-center items-start gap-2.5 inline-flex w-full"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="text-center text-white text-xl font-normal leading-7">
                ğ•(Twitter)
              </div>
            </a>
            <a
              href="https://facebook.com/EngineMaker2019"
              class="px-[35px] py-5 bg-[#0866FF] rounded-[14px] justify-center items-start gap-2.5 inline-flex w-full"
              target="_blank"
              rel="noopener noreferrer"
            >
              <div class="text-center text-white text-xl font-normal leading-7">
                Facebook
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="hidden md:grid justify-items-center -m-20">
        <img src="/services/Illustration.svg" width="50%" alt="cat" />
      </div>
    </div>
  </div>
</Container>
